<h1>Destination Info:</h1>
<p>Name: <%= @destination.name %></p>
<p>Country: <%= @destination.country %></p>
<p>Sorted Posts: <%= @destination.sorted_posts %></p>
<p>Average age of bloggers who wrote about this place: <%= @destination.average_age %></p>